<li class="comment">
  <% if comment.id %>
    <div class="body">
      <font size="1"> <%= comment.user.first_name if comment.user %> wrote this <%= "#{time_ago_in_words(comment.created_at)} ago" if comment.created_at %><br></font>
      <input class="myButton" type="text" value="<%= comment.content %> ", data-id="<%= comment.id %>"/>

      
      <br>
      <% if comment.user == @user %> 
        <% if comment.created_at && comment.created_at + 5.minutes > Time.now %> 
          <%= link_to "Edit", "/comments/#{comment.id}/edit" %>
        <% end %>
        <%= link_to "Delete", "/comments/#{comment.id}", method: :delete %>
      <% end %>
    </div>
</li>

<ul>

  <%= form_for Comment.new, url: comment_comments_path(@article), method: :post, html: {class: "new_reply_#{comment.id}", style: "display: none"} do |f| %>
    <%= f.hidden_field :commentable_type, value: "Comment" %>
    <%= f.hidden_field :commentable_id, value: comment.id %>
    <%= f.hidden_field :parent_id, value: comment.parent_id %>
    <%= f.text_area :content, class: 'form-control', placeholder: "Write more things" %>
    <%= f.submit class: "myButton2", value: 'Submit Reply' %>
    <% end %>
  <% end %>

  <% unless comment.comments.empty? %>
    <ul style="list-style: none;", class="comment_list">
      <%= render :partial => 'comments/comment', :collection => comment.comments %>
    </ul>
  <% end %>
</li>
</ul>