<h1>Create An Account</h1>

<%= form_for :user, url: '/users' do |f| %>
    Username: <%= f.text_field :username %><br>
    Email: <%= f.text_field :email %><br>
    Password: <%= f.password_field :password %><br>
    Password Confirmation: <%= f.password_field :password_confirmation %><br>
    <br>Personal Information<br>
    First Name: <%= f.text_field :first_name %><br>
    Last Name: <%= f.text_field :last_name %><br>
    <%= f.submit "Submit" %>
  <% end %>